* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 80px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 120px;
}

header nav {
  display: flex;
  gap: 40px;
}

header nav a {
  color: #333;
  font-size: 22px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

header nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

body{
  background-color: #ffe3ec;
}

.splide{
  width: 100%;
  margin: 50px auto;
}

.intro{
  height: 90vh;
  background-image: url();
  background-color: pink;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 0 150px;
  justify-content: space-between;
}

.intro .content{
  padding-bottom: 150px;
  width: 70%;
  color: white
}

.intro .content h1{
  margin: 15px 0;
  font-size: 50px;
  color: white;
}

.intro .content button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s;
}

.intro .content button:hover{
  background-color: pink;
  color: white;
}


.intro-text{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 90px;
}

.content-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

.contacts_index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('img/background.jpg') no-repeat center/cover;
    padding: 40px;
    border-radius: 15px;
}

.contacts_index .info {
    max-width: 40%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left; /* Выравниваем текст по левому краю */
}


.map iframe {
    border-radius: 10px;
    filter: grayscale(0%);
}



.content-logo img{
  margin-bottom: 5px;
}

.content-logo p{
  font-size: 18px;
  font-weight: bold;
  color: #d6336c;
}

.popular{
  text-align: center;
  padding: 50px;
  background-color: #ffe3ec;
}

.popular h2{
  font-size: 32px;
  color: #d6336c;
  /* margin-bottom: 40px; */
  margin-top: 40px;
}

.popular .items{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.splide__slide{
  background-color: #ffe3ec;
}

.splide__slide .card {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 4px 8px;
}

.splide__slide .card img{
  width: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.splide__slide .card img:hover{
  transform: scale(1.02);
}

.splide__slide .card p{
  font-size: 18px;
  color: #313131;
  font-weight: bold;
}


.popular .items .card{
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  width: 220px;
}

.popular .items .card img{
  width: 100%;
  border-radius: 12px;
}

.popular .items .card p{
  font-size: 16px;
  color: #313131;
}

footer{
  background-color: #e91e63;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

.footer-content h3{
  margin-bottom: 20px;
  font-size: 22px;
}

.footer-info{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section{
  max-width: 200px;
}

.footer-section h4{
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p{
  font-size: 14px;
}

.social-icons a img{
  width: 30px;
  margin: 5px;
  transition: 0.3s;
}

.social-icons a img:hover{
  transform: scale(1.2);
}

.footer-section img{
  width: 50px;
  margin: 5px;
}


@media (max-width: 1280px) {
  header {
    flex-direction: column;
    gap: 30px;
  }

  .intro{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }

  .intro .content{
    padding-bottom: 30px;
  }

  .intro img{
    width: 80%;
  }

}


@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    padding: 0%;
  }

  .intro .content {
    width: 80%;
  }

  .intro .content h1 {
    font-size: 35px;
  }

  .items {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}